<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/template/template.xhtml">
	<ui:define name="title">login</ui:define>
	<ui:define name="content">
		<h1>welcome taraji #{identity.user.name}</h1>
		
	</ui:define>


</ui:composition>
