<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<h:form>
<h1>Hello world</h1>
<h:panelGrid columns="2">
<h:outputLabel  value="Username" />
<h:inputText  value="#{identity.user.login}" />
<h:outputLabel value="Password" />
<h:inputText value="#{identity.user.password}" />
</h:panelGrid>
<h:commandLink action="Signup" value="Sign up" />
<h:commandButton action="#{identity.doLogin()}" value="Login" />
</h:form>
</body> 
</html>
