<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Sign Up</ui:define>
	<ui:define name="content">
		<h1>Sign Up</h1>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Name" />
				<h:inputText value="#{identity.user.name}" />
				<h:outputText value="Login" />
				<h:inputSecret value="#{identity.user.login}" />
				<h:outputText value="Password" />
				<h:inputSecret value="#{identity.user.password}" />
	            <h:outputText value="Role" />
				<h:selectOneMenu value="#{identity.role}">
				<f:selectItem itemLabel="type" />
				<f:selectItem itemLabel="serveur" itemValue="client"/>
				<f:selectItem itemLabel="client" itemValue="client"/>
				<f:selectItem itemLabel="manager" itemValue="manager"/>
				</h:selectOneMenu>
			</h:panelGrid>
			<h:commandButton action="#{identity.doSign()}" value="register" />
			
		</h:form>
		
	</ui:define>


</ui:composition>
