<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templateManager/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>List  Users</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">

		  <h:form>
		  <a class="btn btn-primary" href="listSujets.jsf"> retour</a>
<table class="highlight centered  white lighten-2">
				    
				    <thead>
				    <th>id</th>
				    <th>contenu</th>
				    <th>date ajout</th>
				    <th>moyenne</th>
				    <th></th>
				    <th></th>
				    </thead>
				    <tbody id="dataSujet">
				    
				    </tbody>
	</table>
	
	
   
 <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
 <script>
 $(document).ready(function(){
    $('.modal').modal();
  });
 </script>
  <script >
$(document).ready(function(){
	var id = "#{commentaireBean.idSujet}";
	  $.get('http://localhost:6587/api/SujetCommentaireAPI/getCommentairesSujet?id=' + id, function(data) {
		 var htmlContenu = '';
		 for(let obj of data) {
			 console.log(obj);
			 var link = 'listCommentaireRatings.jsf?id='+ obj.id + '&amp;idSujet=' + obj.SujetId;
			 var link3 = 'supprimerCommentaire(' + obj.id + ')';
			 var link4 = '#';
			  htmlContenu +=  "<tr><td>"+obj.id+"</td>"
			  + "<td>"+ obj.content +"</td>"
			  + "<td>"+ obj.dateAjout +"</td>"
			  + "<td>"+obj.moyenne+"</td>"
			  + "<td><a href='+ link +'> voir ratings</a></td>"
			  + "<td><a onclick='+link3+' href='+link4+'> Supprimer</a></td></tr>";

			  }
		  document.getElementById('dataSujet').innerHTML = htmlContenu;
	  });
	
});
function supprimerCommentaire(idComm) {
	$.post('http://localhost:6587/api/SujetCommentaireAPI/DeleteCommentaire?id=' + idComm, function(data) {
		 document.location.reload(true);
	  });
}
	</script>
   </h:form>

	</ui:define>
      
	
</ui:composition>