<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templateManager/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>List  Users</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">

		  <h:form>
		  <a class="btn btn-primary" href="listSujets.jsf"> retour</a>
<table class="highlight centered  white lighten-2">
				    
				    <thead>
				    <th>id</th>
				    <th>note</th>
				    <th>utilisateur</th>
				    </thead>
				    <tbody id="dataSujet">
				    
				    </tbody>
	</table>
	
	
   
 <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
 <script>
 $(document).ready(function(){
    $('.modal').modal();
  });
 </script>
  <script >
$(document).ready(function(){
	var id = "#{sujetRatingBean.idSujet}";
	console.log(id);
	  $.get('http://localhost:6587/api/SujetCommentaireAPI/getSujetRatings?id=' + id, function(data) {
		 var htmlContenu = '';
		 for(let obj of data) {
			  htmlContenu +=  "<tr><td>"+obj.id+"</td>"
			  + "<td>"+ obj.note +"</td>"
			  + "<td>"+ obj.email +"</td></tr>"
			  }
		  document.getElementById('dataSujet').innerHTML = htmlContenu;
	  });
	
});
	</script>
   </h:form>

	</ui:define>
      
	
</ui:composition>