<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templateManager/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>List  Users</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">

		  <h:form>		  
<table class="highlight centered  white lighten-2">
				    
				    <thead>
				    <th>titre</th>
				    <th>moyenne</th>
				    <th>contenu</th>
				    <th>date</th>
				    <th></th>
				    <th></th>
				    <th></th>
				    </thead>
				    <tbody id="dataSujet">
				    
				    </tbody>
	</table>
	
	
   
 <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
 <script>
 $(document).ready(function(){
    $('.modal').modal();
  });

 </script>
  <script >
$(document).ready(function(){
	  $.get('http://localhost:6587/api/SujetCommentaireAPI/GetAllSujet', function(data) {
		 var htmlContenu = '';
		 for(let obj of data) {
			 var link = 'listCommentaires.jsf?id='+ obj.id;
			 var link2 = 'listSujetRatings.jsf?id='+ obj.id;
			 var link3 = 'supprimerSujet(' + obj.id + ')';
			 var link4 = '#';

			  htmlContenu +=  "<tr><td>"+obj.titreSujet+"</td>"
			  + "<td>"+ obj.moyenneRate +"</td>"
			  + "<td>"+ obj.contenu +"</td>"
			  + "<td>"+obj.dateAjout+"</td>"
			  + "<td><a href='+ link +'> Voir commentaires</a></td>"
			  + "<td><a href='+ link2 +'> Voir ratings</a></td>"
			  + "<td><a onclick='+link3+' href='+link4+'> Supprimer</a></td></tr>";
			  }
		 
		  document.getElementById('dataSujet').innerHTML = htmlContenu;
	  });
	
});
function supprimerSujet(idSujet) {
	$.post('http://localhost:6587/api/SujetCommentaireAPI/deleteSujet?id=' + idSujet, function(data) {
		 document.location.reload(true);
	  });
}
	</script>
   </h:form>

	</ui:define>
      
	
</ui:composition>