<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templateManager/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>List  Users</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">

		  <h:form>
<h:dataTable class="highlight centered  white lighten-2" value="#{userBean.allReclamation}" var="c"   >
				    
				    	<f:facet name="header" >All Reclamations</f:facet>
		<h:column filterBy="#{c.user_Reclame}" >
			<f:facet name="header">User Reclame </f:facet>
			<h:outputText value="#{c.user_Reclame}" />
		</h:column>
		<h:column>
			<f:facet name="header">Degres </f:facet>
			<h:outputText value="#{c.degres}" />
		</h:column>
			<h:column>
			<f:facet name="header">Description </f:facet>
			<h:outputText value="#{c.description}" />
		</h:column>
			<h:column>
			<f:facet name="header">Statut </f:facet>
			<h:outputText value="#{c.statut}" />
		</h:column>
			<h:column>
			<f:facet name="header">Type </f:facet>
			<h:outputText value="#{c.type}" />
		</h:column>
		<h:column>
			<f:facet name="header">User </f:facet>
			<h:outputText value="#{c.user.name}" />
		</h:column>
		
        <h:column>
			<f:facet name="header">action</f:facet>		
				<h:commandButton value="Approuver" actionListener="#{userBean.updateReclamation(c)}" styleClass="btn-small green accent-4" >	
				</h:commandButton>

		</h:column>
		<h:column>
			<f:facet name="header">action</f:facet>		
				<h:commandButton value="Rejeter" actionListener="#{userBean.rejeterReclamation(c)}" styleClass="btn-small red accent-4" >	
				</h:commandButton>

		</h:column>
	</h:dataTable>
	
	
   
 <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
 <script>
 $(document).ready(function(){
    $('.modal').modal();
  });
 </script>
 <script>
function cvBean.doDelete(c) {
    alert("Hello! I am an alert box!");
}
</script>
   </h:form>

	</ui:define>
      
	
</ui:composition>