<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hf="http://highfaces.org"
                template="/templateManager/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>List  Users</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">

		  <h:form>	
		  <div style="display:flex; align-items: center; justify-content: center">
		  <h1 class="text-center">Statistiques</h1>
		  </div>
		  <div style="display:flex; align-items: center; justify-content: space-between">
		  <div style="width: 40%">
		  	<canvas width="800" height="450" id="dataSujet"></canvas>
		</div>
  		<div style="width: 40%">
		 <canvas id="pie-chart" width="800" height="450"></canvas>
		 </div>
		</div>
		<div style="margin-bottom: 1%"></div>
		 <div style="display:flex; align-items: center; justify-content: space-between">
		  <div style="width: 40%">
		   <canvas id="doughnut-chart" width="800" height="450"></canvas>
		</div>
  		<div style="width: 40%">
		 <canvas id="pie-chart" width="800" height="450"></canvas>
		 </div>
		</div>
				<div style="margin-bottom: 3%"></div>
		
 <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
 <script>
 $(document).ready(function(){
    $('.modal').modal();
  });

 </script>
  <script >
$(document).ready(function(){
	var ctx = document.getElementById('dataSujet').getContext('2d');
	  $.get('http://localhost:6587/api/SujetCommentaireAPI/GetAllSujet', function(data) {
		  var listApp = "#{statBean.reclamationsApp}";
		  var listRej = "#{statBean.reclamationsRej}";
		 
		  var listSujets = [];
		  var listRatings = [];
		  var listComments = [];
		  for(let obj of data) {
				  listSujets.push(obj.titreSujet);
				  listRatings.push(obj.moyenneRate);
				  listComments.push(obj.comments.length);

		  }
		  console.log(listApp, listRej);
	new Chart(ctx, {
	    type: 'bar',
	    data: {
	      labels: listSujets,
	      datasets: [
	        {
	          label: "moyenne",
	          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	          data: listRatings
	        }
	      ]
	    },
	    options: {
	      legend: { display: false },
	      title: {
	        display: true,
	        text: 'Best of 5 sujets'
	      }
	    }
	});
	new Chart(document.getElementById("pie-chart"), {
	    type: 'pie',
	    data: {
	      labels: listSujets,
	      datasets: [{
	        label: "number comments",
	        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	        data: listComments
	      }]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'les sujets les plus commentés'
	      }
	    }
	});
	new Chart(document.getElementById("doughnut-chart"), {
	    type: 'doughnut',
	    data: {
	      labels: ["approuvée", "rejetée"],
	      datasets: [
	        {
	          label: "Statut",
	          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	          data: [listApp, listRej]
	        }
	      ]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'Statut des reclamations'
	      }
	    }
	});
	  });
	
});
	</script>
   </h:form>

	</ui:define>
      
	
</ui:composition>