<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templatecondidate/template.xhtml">
   <meta charset="utf-8"/>
      
     <meta charset="utf-8"/>
    <title>taraji</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     
      <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources1/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <ui:define name="content">
 
    
<div class="valign-wrapper" id="login-page">
	
	<div class="container">
	
	<div class="center-align">
	
	<div class="row">
	
	
	<div class="card">
	
	<div class="card-content ">
	
<div class="left-align">

<h:form id="login-form">
<p:growl autoUpdate="true"/>
<div class="row">




<div class="col s6 input-field">
<i class="material-icons prefix">Description</i>


<h:inputText   value="#{userBean.description}" id="description"  />
<h:outputLabel for="description" value="Description" />

</div>

<div class="col s6 input-field">
<i class="material-icons prefix">Type</i>




<h:selectOneMenu value="#{userBean.type}" id="type"> 
            <f:selectItem itemValue = "Spam" itemLabel = "Spam" /> 
            <f:selectItem itemValue = "contenus inappropriés" itemLabel = "contenus inappropriés" /> 
            <f:selectItem itemValue = "type1" itemLabel = "type1" /> 
                 
         </h:selectOneMenu>

</div>
<div class="col s6 input-field">
<i class="material-icons prefix">Degres</i>


<h:selectOneMenu value="#{userBean.degres}" id="degres"> 
            <f:selectItem itemValue = "faible" itemLabel = "faible" /> 
            <f:selectItem itemValue = "moyen" itemLabel = "moyen" /> 
            <f:selectItem itemValue = "fort" itemLabel = "fort" /> 
                 
         </h:selectOneMenu>

</div>








<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>
<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>
<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>





<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>
<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>
<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>
<div class="col s6 input-field">


<h:outputLabel for="                                                  "  />


</div>













<h:commandButton action="#{userBean.doaddReclamation()}" value="Add" styleClass="btn btn-large centered " />


</div>

</h:form>

</div>
	</div>
	</div>
	
	
	</div>
	</div>
	</div>
		</div>
		
	      <script type="text/javascript" src="#{request.contextPath}/resources1/js/jquery.min.js"></script>
      
      <script type="text/javascript" src="#{request.contextPath}/resources1/js/materialize.js"></script>
      <script>
      $(document).ready(function(){
    	    $('.parallax').parallax();
    	  });
      </script>
      <script >
$(document).ready(function(){
	  $('select').formSelect();
	
});
	</script>
		<script >
$(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
	</ui:define>
      
	
</ui:composition>